argon2-cffi
async-generator==1.10
attrs
backcall==0.2.0
bleach
certifi==2020.6.20
cffi
click==7.1.2
colorama
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Cors
gunicorn==20.0.4
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
itsdangerous==1.1.0
jedi
Jinja2==2.11.2
joblib
jsonschema
jupyter-client
jupyter-console
jupyter-core==4.6.3
jupyterlab-pygments
MarkupSafe==1.1.1
mistune==0.8.4
mkl-fft==1.0.2
mkl-random==1.1.1
mkl-service==2.3.0
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging==20.4
pandas
pandocfilters
parso==0.7.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit
pycparser
Pygments
pyparsing==2.4.7
pyrsistent
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole
QtPy==1.9.0
scikit-learn
scipy
Send2Trash==1.5.0
sip==4.19.13
six
terminado==0.9.1
testpath==0.4.4
threadpoolctl
tornado==6.0.4
traitlets
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
xlrd==1.2.0
zipp
